h1{
   color: red; 
}

h2{
    color:green;
}

body{
    background-image: url(images/pexels-pixabay-256395.jpg);
    background-position: bottom;
}

img{
    height: 2000px;
    width: 800px;
}